<h1>Login</h1>


<%= form_with url: new_session_path do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <!-- <%= f.hidden_field(:user_id, value: "1") %> -->
    <!-- <input type="hidden" name="user[user_id]" value="1"> -->

    <%= f.submit %>
<% end %>