<h1>Login</h1>


<%= form_with url: login_path do |f| %>
   
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <!-- <%= f.hidden_field(:user_id, value: "1") %> -->
    <!-- <input type="hidden" name="user[user_id]" value="1"> -->

    <%= f.submit 'Login' %>
<% end %>

<h3>Or login using Facebook:</h3>

<%= button_to 'Facebook', '/auth/facebook' %>