<h1>Events#new</h1>
<%= form_with model: [@venue, @event] do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :venue_id, value: @venue.id %>
    
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <br>
    <%= f.label :date %>
    <%= f.datetime_field :date %>
    <br>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br>
    <br>

    <h4>Describe the event's seating in three words or less:</h4>
    <%= f.fields_for :venues do |v| %>
        <%= v.label :seating %>
        <%= v.text_field :seating %>
    <% end %>

    <%= f.submit "Create Event" %>
<% end %>